.container {
    margin-top: 25%;
    text-align: center;
}

#send {
    width: 300px;
    height: 200px;
    background: gray;
    font-size: 2em;
}

#url {
    width: 30%;
}

#delay {
    width: 5%;
}